/* @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


* {
    box-sizing: border-box;
}

body{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    border: 10px solid red;
}

.main-form{
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;
    height: 100px;
} */